/* OA.Works: custom CSS
/* ------------------------------------------------------------

This file contains all CSS overrides for OA.Works’ blog.

This is the custom CSS file to avoid modifying the original
Casper stylesheets in case of a major update.

*/

/* 1. Global
/* ---------------------------------------------------------- */

:root {

    /* Colours */
    --color-darkgrey: hsl(17, 10%, 13%);
    --color-midgrey: hsl(30, 1.67%, 52.94%);
    --color-lightgrey: hsl(30, 1.61%, 75.69%);
    --color-wash: #e5eff5;
    --color-darkmode: hsl(17, 10%, 13%);

    /*
    An accent color is also set by Ghost itself in
    Ghost Admin > Settings > Brand

    --ghost-accent-color: {value};

    You can use this variale throughout your styles
     */

    /* Fonts */
    --font-sans-serif: 'Inter', sans-serif;
    --font-serif: 'Wremena', serif;
    --font-mono: Menlo, Courier, monospace;

}
